<html>
    <head>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

    </head>
    <body>
        
        <section style="display:flex;flex-direction:column; width:100%; color:pink">
            <ul style="width: 100%;display: flex;column-gap: 22px;">
                <li>menu1</li>
                <li>menu2</li>
                <li>menu3</li>
                <li>menu4</li>
                <li>menu5</li>
                <li>menu6</li>
                <li>menu7</li>
            </ul>
        </section>
        {{{body}}}
        {{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script> --}}

        {{!-- <script src="./script.js"></script> --}}
    </body>
</html>